{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<h4><i class="fa fa-users"></i>REGISTER</h4>
<div class="term-policlink notesscw">
<p><strong>**Note: Supply Chain Wire</strong> is a business and professional networking platform connecting ONLY Supply Chain professionals, students & recruiters  globally. Hence, Supply Chain Wire will only accept and approve registrations from professionals and recent graduates working in and studying in the Logistics, Supply Chain and Transportation industry. You are advised to read our  <a href="../memberships.php">Membership</a> before you proceed.
</div>
{{{formhtml}}}
