{{#video}}
<div class="video-blk-contnt">
<div class="bgvideo" data-id="{{vid}}">
{{{videocontent}}}
</div>
</div>
{{/video}}
<a class="btn-viewmore pull-right" href="{{{viewmore}}}" id="videomorelink"><span><div class="dblrht-arrow"><i class="fa fa-angle-double-right"></i></div>View More</span></a>