{{#video}}
<div class="video-blk-contnt">
<div class="bgvideo" data-id="{{vid}}">
 <div class="mediaplugin">
  <div class="video-js">
<div id="muteYouTubeVideoPlayer"></div>
  </div>
 </div>
</div>
</div>
{{/video}}
<a class="btn-viewmore pull-right" href="{{{viewmore}}}" id="videomorelink"><span><div class="dblrht-arrow"><i class="fa fa-angle-double-right"></i></div>View More</span></a>

 <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
      function onYouTubeIframeAPIReady() {
        var player;
        player = new YT.Player('muteYouTubeVideoPlayer', {
          videoId: '{{yvid}}', // YouTube Video ID
          width: 300,             // Player width (in px)
          height: 190,            // Player height (in px)
          playerVars: {
            autoplay: 1,        // Auto-play the video on load
            controls: 0,        // Show pause/play buttons in player
            showinfo: 0,        // Hide the video title
            modestbranding: 0,  // Hide the Youtube Logo
            loop: 1,            // Run the video in a loop
            fs: 0,              // Hide the full screen button
            cc_load_policty: 0, // Hide closed captions
            iv_load_policy: 3,  // Hide the Video Annotations
            autohide: 0         // Hide video controls when playing
          },
          events: {
            onReady: function(e) {
              e.target.mute();
            }
          }
        });
      }
    </script>