<div class="event-blk-contnt clearfix">
{{{list}}}
</div>
<a class="btn-viewmore pull-right" href="{{view_more_url}}" id="eventmorelink"><span><div class="dblrht-arrow"><i class="fa fa-angle-double-right"></i></div>View More</span></a>

